*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
     border: 1px solid  #DBDBDB ;
     width: 350px;
     display: flex;
     justify-content: center;
     margin: 10px 0px;
     

    }
    .namelogo{
        height: 55px;
        width: 183px;
        padding: 40px 0px;
        /* margin: auto; */
    }