*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
     border: 1px solid  #DBDBDB ;
     width: 350px;
     /* display: flex; */
     justify-content: center;
     margin: 10px 0px;
     

    }
    .namelogo{
        height: 55px;
        width: 183px;
        
        padding: 40px 90px;
        /* margin: auto; */
    }

    input{
        display: flex;
        justify-self: center;
        padding: 7px;
        height: 20px;
        border: 1px solid  #DBDBDB ;
        width: 250px;
        font-size: 12px;
        color: #DBDBDB;
        background-color: #FAFAFA;
        margin: 6px 0px;
        border-radius: 2px;
        
    }