*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;

}
.main{
    position: absolute;
    left: 585.5px;
     border: 1px solid  #DBDBDB ;
     width: 350px;
    
     /* display: flex; */
     /* justify-content: center; */
     margin: 11.7px 0px;
     height: 617px;
     box-sizing: border-box;
     background-color: #fff;
     
     

    }

    .img {
        display: block;
        justify-content: center;
        align-items: center;
        padding-bottom: -2px;
    }
    .namelogo{
        height: 57px;
        width: 181.5px;
        
        position: relative;
        padding-top: 43px;
        padding-left: 82.5px;
        font-weight: 1000; }


        .p1{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center ;
            color: #737385;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            margin-top: 6px;
            line-height: 1.2;
            font-weight: 500;
            margin-bottom: 4px;
        }
        .p2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center ;
            color: #737385;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            margin-top: -4.8px;
            /* line-height: 1.2; */
            font-weight: 500;
            margin-bottom: 4px;
           
        }
        .fbbtn{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fbbtn button{
            /* position: relative; */
            width: 268px;
            height: 33.5px;
            color: white;
            background-color: #0095F6;
            border: none;
            border-radius: 8px;
              font-weight:550;
              margin-top: 13.5px;
        }
        .fbbtn img{
            position: relative;
            height: 16px;
            left: -2.5px;
            top:2.2px;
            width: 16px;
        }

        .fbbtn span{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            font-size: 14px;
            position: relative;
            top: 0.5px;
            left: 2px;
        }

        .or{
            /* display: inline; */
            justify-content: center;
            display: flex;
            margin: 0px;
            padding: 0px;
            position: relative;
            top: 15px; 
           font-size: small; 
          }
       
           .or   span{
               color: #DBDBDB;
               cursor:unset;
               position: relative;
               top: 1px;
           }
           .or p{
            margin: 3px 20px;
            position: relative;
            top: 0.5px;
            font-size: 12.5px;
            font-weight: 500;
            color: #737373;
            line-height: 1.1538;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    
        }
        .form{
            margin: 28px 25px;
            display: flex;
            flex-direction: column;
        }
        input{
            margin: 2px auto;
            margin-bottom: 4.5px;
             padding: 9px;
             /* padding-left: 8px; */
             
            /* position: relative; */
            
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
             height: 18px;
             border: 1px solid  #DBDBDB ;
             width: 248px;
             font-size: 12px;
             text-align: left;
             word-spacing: 0px;
           
             
              
             
             /* color: #DBDBDB; */
             background-color: #FAFAFA;
             /* margin: 6px 0px; */
             border-radius: 3px;
     
             
         }
         #fullname{
            margin-top: 1px;
         }
         input:focus {
            outline: none;
            border: 1px solid  #A8A8A8;
        }

         input[id="email"]::placeholder{
            position: relative;
            left: -1.5px;
         }
         input[id="password"]::placeholder{
            position: relative;
            left: -1.5px;
            top: -0.5px;
         }
         input[id="fullname"]::placeholder{
            position: relative;
            left: -4.7px;
            top: -0.5px;
         }
         input[id="Username"]::placeholder{
            position: relative;
            left: -1.5px;
            top: -0.5px;
         }
         .text{
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            /* align-items: center; */
            font-size: 12px;
            margin-top: -19px;
            font-weight: 400;

         }
         .text p{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

            position: relative;
            top: 0px;
            color: rgb(115, 115, 115);
         }
         .text a{
            text-decoration: none;
            color: #00376B;
         }
         .text #p2{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

            position: relative;
            top: 16px;
            color: rgb(115, 115, 115);

         }
         .btnsignup button{
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .button{
            width: 268px;
            margin: auto;
                 
            height: 32px;
            color: white;
            background-color: #4CB5F9;
            border: none;
            border-radius: 8px;
              font-weight:bold;
            margin-top: 31px;
            font-size: 14px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
               font-weight:600; }


               .box2{
                 
                position: relative;
                left: -1px; 
                 border: 1px solid  #DBDBDB ;
                   top: 49px;
                     width: 348px;
                      height: 79px;
                      /* margin: auto; */
               }
               .box2 #span1{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                margin-top: 24px;
                margin-left: 0.999px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
               }
               .box2 #span2{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
               
                color:   #0095F6;
                font-weight:600;
                /* margin-top: 24px; */
                margin-top: -2.9px;
                margin-left: 0.999px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
               }
               .box2 #span2 a{
                text-decoration: none;
                color:   #0095F6;
               }

               .box3{
                /* position: relative; */
                left: -0.5px; 
                width: 348px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 65px;
                
            }
            .box3 p {
               
                font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
                color:rgb(0, 0, 0);
                text-decoration: none;
                font-weight:400;
                font-size: 14px;
            }
        
            .box4{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 14px;
                margin-left: 2px;
                
            }
            .googleplay{
               margin-right: 2.3px;
                height: 45.5px;
                width: 138px;
                
            }
            .microsoft{
                height: 42px;
                width: 116px;
            }
             footer{
    text-align: center;
    padding: 20px 0px;
    margin-top: 53px;
    margin-left: -276px;
    height: 93px;
    /* position: absolute; */

   }
  .footer-container{
    
    width: 900px;
    margin: auto;

   }
   .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
   
    
   }
   .footer-container span {
    display: inline;
    font-size: 12px;
    word-spacing: 0px;
   
}
.footer-links a {
    font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    text-decoration: none;
    color:#6a6c71;
    font-size: 12px;
}
.footer-bottom{
 font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    text-decoration: none;
    color:#6a6c71;
    font-size: 12px;
    
    gap: 16px;
    margin-top: 19px;
    margin-left: -5px;
}

 .footer-p {
    color:#6a6c71;
    
}
select  {
    margin-left: 0px;
    border: none;
    outline: none;
    color:#6a6c71;
    font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    text-decoration: none;
    color:#6a6c71;
    font-size: 12px;
    padding-right: 0px;
}
select::after{
    content: "⌄";
    font-weight: normal;
}

           